@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "DataTableManager";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Asset Management</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/assetadminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/assetadminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assetadminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assetadminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/assetadminlte/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/assetadminlte/dist/img/asset48.svg" alt="AdminLTELogo" height="60" width="60">
        </div>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Manager" asp-action="DataTableManager" class="nav-link">Home</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> Manager
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-controller="Manager" asp-action="Index">Dashboard</a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index">Log Out</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <!-- Sidebar -->

            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <a class="d-block fa fa-cubes"> &nbsp; Asset Management</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a asp-controller="Manager" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item  menu-open">
                            <a asp-controller="Manager" asp-action="DataTableManager" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>Table Request Asset</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Manager" asp-action="Manager" class="nav-link">
                                <i class="nav-icon fas fa-shopping-cart"></i>
                                <p>Procurement</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>



        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Table Request Asset</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a asp-controller="Manager" asp-action="DataTableManager">Home</a></li>
                                <li class="breadcrumb-item active">Table Request Asset</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="TransactionTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Transaction Id</th>
                                                <th>Item Name</th>
                                                <th>Status</th>
                                                @*<th>Employee Id</th>*@
                                                <th>Request Date</th>
                                                <th>Return Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
            <div class="modal fade" id="modaltambah" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"> Form Procurement</h4>
                        </div>
                        <div class="modal-body">
                            <form id="dataForm">
                                <div class="form-group invisible">
                                    <input disabled type="hidden" class="form-control" id="id" name="id">
                                </div>
                                <div class="form-group">
                                    <label for="Transaction Id">Transaction Id</label>
                                    <input disabled type="text" name="itemName" class="form-control" id="TransId" placeholder="Item Name" required />
                                </div>
                                <div class="form-group">
                                    <label for="ItemName">Item Name</label>
                                    <input disabled type="text" name="itemName" class="form-control" id="ItemName" placeholder="Item Name" required />
                                </div>
                                <div class="form-group">
                                    <label for="inputStatus">Status</label>
                                    <select id="status" class="form-control custom-select">
                                        <option selected>-- Select --</option>
                                        <option value="Approved">Approved</option>
                                        <option value="Rejected">Rejected</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="ItemName">Request Date</label>
                                    <input type="date" name="itemName" class="form-control" id="requestdate" placeholder="requestdate" required />
                                </div>
                                <div class="form-group">
                                    <label for="ItemName">Return Date</label>
                                    <input type="date" name="description" class="form-control" id="returndate" placeholder="returndate" required />
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnAdd" onclick="Update()">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2021.</strong>
            Muhammad Jurnalies Habibie & Muljadi.
            <div class="float-right d-none d-sm-inline-block">
                <b>Batch 48 METRODATA</b>
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/assetadminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/assetadminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/assetadminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assetadminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assetadminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assetadminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/assetadminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assetadminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assetadminlte/plugins/jszip/jszip.min.js"></script>
    <script src="~/assetadminlte/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/assetadminlte/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/assetadminlte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assetadminlte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/assetadminlte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/assetadminlte/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/assetadminlte/dist/js/demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <!-- Page specific script -->
    <script>
        $(document).ready(function LoadTable() {
            $('#TransactionTable').DataTable({
                "ajax": {
                    "processing": true,
                    "serverSide": false,
                    "filter": true,
                    url: "GetDataTransaction",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    dataSrc: ""
                },
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "transId" },
                    { "data": "itemName" },
                    { "data": "status" },
                    //{ "data": "employeeId" },
                    {
                        "data": "requestDate",
                        render: function (requsetDate) {
                            let date = moment(requsetDate).format('DD MMMM YYYY')
                            return date
                        }
                    },
                    {
                        "data": "returnDate",
                        render: function (returnDate) {
                            let date = moment(returnDate).format('DD MMMM YYYY')
                            return date
                        }
                    },
                    {
                        "data": "transId",
                        "render": function (transId) {
                            return '<button id="editTable" type="button" class="btn btn-primary" data-toggle="modal"  style="margin-right : 5px;"  data-target="#modalEdit" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Data"><i class="fa fa-edit"></i></button>';
                            /*'<button id="deleteTable" class="btn btn-danger" style="margin-left : 5px;"  onclick="Delete(' + row['id'] + ')" data-target="#modalDelete" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Data"><i class="fa fa-trash"></i></button>'*/
                        },
                        "orderable": false,
                        "searchable": false
                    },
                ],

            });
            $('#editTable').click(function () {
                $('#modaltambah').submit()

            })
            $("#TransactionTable").on('click', '#editTable', function () {
                var data = $("#TransactionTable").DataTable().row($(this).parents('tr')).data();
                console.log(data);
                $("#modaltambah").modal("show");
                $('#id').val(data.id);
                $('#TransId').val(data.transId);
                $('#ItemName').val(data.itemName);
                $('#status').val(data.status);
                let RD = moment(data.requestDate).format("YYYY-MM-DD");
                $('#requestdate').val(RD);
                let RTD = moment(data.returnDate).format("YYYY-MM-DD");
                $('#returndate').val(RTD);
            });
        })
        //function update() {
        //    Update();
        //}

        //let Edit = (Id) => {
        //    $.ajax({
        //        type: "GET",
        //        url: `Transaction/Edit/${Id}`,
        //        success: (data) => {
        //            console.log(data)
        //            cleanErrorVal()
        //            let myModal = $('#modaltambah')
        //            $('#id').val(data.id)
        //            $('#status').val(data.status)
        //            let RD = moment(data.requestDate).format("YYYY-MM-DD")
        //            $('#requestdate').val(RD)
        //            let RTD = moment(data.returnDate).format("YYYY-MM-DD")
        //            $('#returndate').val(RTD)
        //            myModal.modal('show')
        //        },
        //        error: (data) => {
        //            console.log(data)
        //        }

        //    })
        //}
        let Update = () => {
            var User = new Object()
            User.id = parseInt($("#TransId").val())
            //User.transId = $("#TransId").val();
            //User.itemName = $("#ItemName").val();
            User.status = $("#status").val();
            //User.requestDate = $("#requestdate").val();
            //User.returnDate = $("#returndate").val();
            console.log()
            $.ajax({
                url: "Updates",
                type: "POST",
                data: JSON.stringify(User),
                contentType: "application/json; charset=utf-8",
                success: (data) => {
                    if (data == 200) {
                        $("#modaltambah").modal('hide');
                        swal.fire({
                            title: "Success!",
                            text: "Data Edit to database!",
                            icon: "success",
                        }
                        ).then(() => { location.reload() })
                    } else {
                        console.log(data);
                        alert("Failed to Update Data!");
                    }
                },
                error: (data) => {
                    console.log(data);
                    alert("Failed to Update Data EEEEEE!");
                }
            })

        }
    </script>
</body>
</html>