@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "Layout";
    var token = ViewData["token"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Recover Password</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/assetadminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/assetadminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/assetadminlte/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="~/assetadminlte/dist/img/asset48.svg" alt="AdminLTELogo" height="60" width="60">
    </div>
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Reset Password</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <!-- <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p> -->

                <form id="ResetForm">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="password" name="password" placeholder="New Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="hidden" class="form-control" id="token" name="token" value="@token">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Change password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mt-3 mb-1">
                    <a asp-controller="Authentication" asp-action="Index">Login</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/assetadminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/assetadminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/assetadminlte/dist/js/adminlte.min.js"></script>
</body>
</html>

@section customScripts{
    <script>
        $(document).ready(function () {
            $('#ResetForm').submit(function (e) {
                e.preventDefault();
                reset();
            })
        })
        const reset = () => {
            let data_reset = {
                password: $("#password").val(),
                confirm_password: $("#confirmpassword").val(),
                token: $("#token").val(),
            };
            if (data_reset.password === data_reset.confirm_password) {
                $.ajax({
                    type: "PUT",
                    url: "ResetPasswordApi",
                    data: data_reset,
                    beforeSend: () => {
                        Swal.fire({
                            title: 'Please wait...',
                            showConfirmButton: false,
                            imageUrl: 'https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif',
                            backdrop: `rgba(0,0,0,0.6)`
                        })
                    },
                    success: (data) => {
                        console.log(data)
                        //alert(data)
                        Swal.fire({
                            text: 'Password has been reset',
                            icon: 'success',
                            confirmButtonText: 'Go to Login Page'
                        }).then(result => {
                            if (result.isConfirmed) {
                                window.location.href = 'https://localhost:44334/Authentication';
                            }
                        });

                    },
                    error: (data) => {
                        console.log(data)
                        //alert(data)
                    }
                });
            }
        }
    </script>
}
© 2021 GitHub, Inc.
